<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

       <!-- shiro -->
       <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor" />
       <!-- shiro核心过滤器 -->
       <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
              <property name="securityManager" ref="securityManager" />
              <property name="loginUrl" value="/login" />
              <property name="successUrl" value="/" />
              <property name="unauthorizedUrl" value="/unauthorized" />
              <!-- 配置过滤地址链 -->
              <property name="filterChainDefinitions">
                     <value>
                            #静态资源
                            /favicon.ico = anon
                            /image/** = anon
                            /css/** = anon
                            #登出
                            /logout = logout
                            #需要登陆的URL
                            /** = authc
                     </value>
              </property>
       </bean>

       <!-- shiro安全核心 -->
       <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
              <!-- 配置验证用户的realm，当有多个验证realm时有属性realms -->
              <property name="realm" ref="jdbcRealm" />
              <!-- 配置缓存管理 -->
              <property name="rememberMeManager" ref="cookieRememberMeManager" />
       </bean>

       <!-- 用户过期管理 -->
       <bean id="cookieRememberMeManager" class="org.apache.shiro.web.mgt.CookieRememberMeManager">
              <property name="cookie" ref="simpleCookie"/>
       </bean>
       <bean id="simpleCookie" class="org.apache.shiro.web.servlet.SimpleCookie">
              <property name="name" value="ourRememberMe"/>
              <property name="httpOnly" value="true"/>
              <property name="maxAge" value="86400"/>
       </bean>

       <!-- 通过数据库方式获得用户和权限 -->
       <bean id="jdbcRealm" class="org.apache.shiro.realm.jdbc.JdbcRealm">
              <property name="dataSource" ref="dataSource"/>
       </bean>

       <!-- 密码匹配规则 -->
       <!--<bean id="hashedCredentialsMatcher"-->
             <!--class="org.apache.shiro.authc.credential.HashedCredentialsMatcher">-->
              <!--&lt;!&ndash; 密码加密类型 &ndash;&gt;-->
              <!--<property name="hashAlgorithmName" value="MD5" />-->
              <!--&lt;!&ndash; 当为true时使用hex编码，false时使用base64编码 &ndash;&gt;-->
              <!--<property name="storedCredentialsHexEncoded" value="true" />-->
              <!--&lt;!&ndash; 加密迭代次数 &ndash;&gt;-->
              <!--<property name="hashIterations" value="1" />-->
       <!--</bean>-->

</beans>